<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Festicket Technical Test</title>
</head>
<body>
  There MUST be a valid vithub token in the url search query. <br />
  For example: <br />
  "http://localhost:3000?token={my-github-token}"
</body>
</html>
