.hero {
    --name-colour: goldenrod;
    --name-stop1: limegreen;
    --name-stop2: green;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.hero__figure {
    width: calc(0.5rem + 3vw);
    font-weight: 900;
    margin: 0 0.25rem 0 0;
}

.hero__name {
    -ms-align-self: center;
    align-self: center;
    background: -ms-linear-gradient(45deg, var(--name-stop1), var(--name-stop2));
    background: linear-gradient(45deg, var(--name-stop1), var(--name-stop2));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1rem;
}

.hero__image {
    border-radius: 50%;
}

@media screen and (min-width: 460px) and (max-width: 720px) {
    .hero__name {
        font-size: 0.7rem
    }
}
